@charset "UTF-8";
:root {
  --color-primary: rgb(219, 179, 0);
  --color-secondary: rgb(39, 39, 39);
  --color-primary-transparent: rgba(219, 179, 0, 0.2);
  --color-secondary-transparent: rgba(39, 39, 39, 0.75);
  --color-light: rgb(207, 207, 207);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans Condensed', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: black;
  color: var(--color-light);
}

#header {
  display: flex;
  justify-content: space-between;
  height: 8.5rem;
  max-height: 12.5rem;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1.5rem;
  width: 5rem;
}

#header-img {
  width: 100%;
}

#nav-bar {
  display: flex;
  align-items: center;
  margin: 1.5rem;
}

@media only screen and (max-width: 625px) {
  #nav-bar {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list__item {
  padding: 1rem;
  cursor: pointer;
}

.nav-list__link {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
  text-decoration: none;
  margin: 0 1.5rem;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 625px) {
  .nav-list__link {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: .15rem;
  color: var(--color-light);
  text-shadow: 1px 1px var(--color-primary-transparent);
  text-align: center;
  margin: 10rem 0 3rem 0;
}

.video-container  {
  display: flex;
  flex-direction: column;
}

#video {
  width: 90%;
  margin: 0 auto;
}

.travel {
  display: flex;
  margin-top: 2rem;
  padding: 10rem 1.5rem;
  width: 100%;
}

.travel__info {
  font-size: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 3rem 0;
  width: 100%;
  background-image: url(../img/full-moon.jpg);
  background-position: right;
  background-size: cover;
}

.travel__info .heading-secondary {
  margin-left: 4rem;
}

.travel__detail {
  margin: 3rem 0 3rem 4rem;
  text-shadow: 1px 1px white;
}

.travel__detail:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.travel__detail::before {
  content: " » ";
  margin-right: .9rem;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.4;
  color: var(--color-secondary);
  text-shadow: 1px 1px var(--color-primary);
  padding: 1.5rem;
}

.ship {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 10rem 1.5rem;
  width: 100%;
}

.ship__details {
  align-self: flex-end;
  font-size: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 3rem 0;
  width: 100%;
  background-image: url(../img/rocket.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.ship__details .heading-secondary {
  align-self: flex-end;
  text-align: right;
  margin-right: 4rem;
}

.ship__detail {
  margin: 3rem 4rem 3rem 0rem;
  text-shadow: 1px 1px white;
  text-align: right;
}

.ship__detail:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.ship__detail::after {
  content: " « ";
  margin-left: .9rem;
}

.packs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  clip-path: ellipse(100% 55% at 48% 44%);
  margin-top: 2rem;
  padding: 10rem 1.5rem;
  width: 100%;
}

.packs__container {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .packs__container {
    flex-direction: column;
  }
}

.packs__pack {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  padding: 2rem;
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .packs__pack {
    width: 90%;
    margin: 3rem auto;
  }
}

.packs__heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  text-align: center;
}

.packs__info {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-primary);
  text-align: center;
}

.packs__price {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary-transparent);
  border: 2px solid var(--color-light);
  border-radius: 5px;
  margin: 10rem 1.5rem 2.5rem 1.5rem;
  padding: 1.5rem;
}

.form .heading-secondary {
  color: var(--color-light);
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.form__label-text {
  font-size: 2rem;
  color: var(--color-light);
  padding: 1.5rem 1.25rem;
  text-align: center;
  text-shadow: 2px 2px var(--color-secondary);
}

.form__insert-info {
  font-size: 1.75rem;
  background-color: var(--color-secondary);
  color: var(--color-light);
  border-radius: 10px;
  padding: .75rem;
  text-align: center;
  width: 100%;
  max-width: 55rem;
}

#submit {
  font-size: 2rem;
  background-color: var(--color-light);
  color: var(--color-secondary);
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  margin-top: 1.5rem;
  padding: 1rem;
}

.copyright {
  font-size: 2rem;
  color: var(--color-light);
  margin: 2rem 0;
  padding: 1.5rem;
  text-align: center;
}

.nav-burger {
  display: none;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  z-index: 10;
}

@media only screen and (max-width: 625px) {
  .nav-burger {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    transition: all .5s ease-in-out;
  }
}

.nav-burger-line {
  width: 2rem;
  height: 2.5px;
  background-color: var(--color-primary);
  border-radius: 5px 5px;
  transition: all .5s ease-in-out;
}

.nav-burger-line::before,
.nav-burger-line::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2.5px;
  background-color: var(--color-primary);
  border-radius: 5px 5px;
  transition: all .5s ease-in-out;
}

.nav-burger-line::before {
  transform: translateY(-7.5px);
}

.nav-burger-line::after {
  transform: translateY(7.5px);
}

.nav-burger.open .nav-burger-line {
  transform: translateX(-50px);
  background: transparent;
}

.nav-burger.open .nav-burger-line::before {
  background-color: var(--color-primary);
  transform: rotate(45deg) translate(35px, -35px);
}

.nav-burger.open .nav-burger-line::after {
  background-color: var(--color-primary);
  transform: rotate(-45deg) translate(35px, 35px);
}
